.feed-container {
  background-color: #EFEDE8;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feed-title {
  padding: 1rem;
  width: 45%;
  background-color: white;
  border-radius: 5px;
}

.user-name {
  text-align: center;
}
