.form-modal {
  width: 100%;
}

.form__create-post {
  width: auto;
  height: 150px;
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: white;
  border-radius: .35rem;
  padding: 2rem;
  padding-bottom: 1rem;
}

.form__create-post input {
  width: 100%;
  text-align: center;
  border-radius: 0.25rem;
  border: solid #9DBFAF 1px;
  margin: 0.5rem;
  padding: 0.25rem;
}

.form__create-post input:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.submit-post-button {
  width: 66%;
  padding: 0.5rem;
  color: white;
  border: none;
  font-weight: 500;
  margin-top: 0.5rem;
  margin-bottom: 1rem;

  border-radius: 10px;
  background: #62765b;
  box-shadow: inset -5px -5px 8px #586a52,
              inset 5px 5px 8px #6c8264;
}

button:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.6);
  transition: all 0.4s ease 0s;
  cursor: pointer;
  border-radius: 0.35rem;
}

button:focus {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.6);
  transition: all 0.4s ease 0s;
  cursor: pointer;
  border-radius: 0.35rem;
}
