.form__create-post {
  /* width: 50%; */
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  background-color: white;
  border-radius: 1rem;
  color: #2c3e50;
  height: 150px;
  width: auto;
  margin: 1.5rem 0rem 0.5rem 0rem;
  padding: 2rem;
}

.form__create-post input {
  width: 350px;
  border-radius: 0.25rem;
  margin: 0.5rem;
  align-self: center;
  padding: 0.25rem;
}

.form__create-post input:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.submit-post-button {
  width: 66%;
  padding: 0.5rem;
  background-color: #99AE92;
  color: white;
  border: none;
  border-radius: 0.5rem;
  font-weight: bold;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

button:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  transition: all 0.4s ease 0s;
  cursor: pointer;
  border-radius: 0.35rem;
}

button:focus {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  transition: all 0.4s ease 0s;
  cursor: pointer;
  border-radius: 0.35rem;
}

