html {
  background-attachment: fixed;
  background: linear-gradient(to bottom, rgba(245, 245, 245, 0.80), rgba(0, 0, 0, 0.5)), url('../Images/background-mint.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin: none;
  padding: none;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.loading,
.error {
  text-align: center;
  color: #000;
  padding: 2rem;
  max-width: 25%;
  min-height: 5%;
  background-color: white;
  border-radius: 5px;
}

.container {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
