html {
  background-attachment: fixed;
  background: linear-gradient(to bottom, rgba(245, 245, 245, 0.80), rgba(0, 0, 0, 0.5)), url('../Images/background-mint.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: none;
  padding: none;
}

#app {
  color: #2c3e50;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  margin-top: 60px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}