.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3C573C;
  color: #ffffff;
}

.veg-share-title {
  margin-left: 3%;
}

.profile-link,
.home-link {
  color: #000000;
  text-decoration: none;
}

.link-button {
  height: 100%;
  width: 90%;
  background-color: #D0DCB2;
  margin-right: 5%;
  border-radius: 6px;
}

.header-line {
  width: 50%;
}

.header-links {
  width: 25%;
  height: 5vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.hidden {
  display: none;
}


