.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3C573C;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 2rem; 
}

.veg-share-title {
  font-family: 'Lobster', cursive;
  font-weight: 300;
  font-size: xx-large;
  margin-left: 3%;
}

.profile-link,
.home-link {
  color: white;
  text-decoration: none;
  padding: .25rem;
}

.link-button {
  height: auto;
  width: auto;
  background-color: #99AE92;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  border: none;
  border-radius: 0.5rem;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.header-line {
  width: 50%;
}

.header-links {
  width: 25%;
  height: 5vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.hidden {
  display: none;
}


