.home-img,
.veggie-img {
  width: 25px;
  height: 25px;
  margin-right: 0.5rem;
}

.location-container,
.shares-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-pic {
  width: 150px;
  height: 150px;
  border: 2px solid #EFEDE8;
  border-radius: 100%
}

.user-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-details {
  text-align: center;
}
