.interactions-container {
  width: 50%;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post-button {
  width: 66%;
  padding: 0.5rem;
  background-color: #99AE92;
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}
