.footer {
  background-color: #3C301E;
  color: #ffffff;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.footer-text {
  font-size: 1.5rem;
  margin-right: 0.25rem;
}

.dev-links {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.liLogo {
  width: 3vh;
}

.ghLogo {
  width: 3vh;
}

.liLogo,
.ghLogo {
  margin: 0.25rem;
}
