.clear-button {
  margin-left: 0.5rem;
  border: 1px solid #AB9C91;
  background-color: #AB9C91;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.search {
  display: flex;
  width: 100%;
  margin-bottom: 0.5rem;
}

.search-bar {
  width: 100%;
  border: 3px solid #AB9C91;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
}

.search-button {
  width: 40px;
  height: 36px;
  border: 1px solid #AB9C91;
  background-color: #AB9C91;
  text-align: center;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  color: white;
  font-size: 20px;
}
